// General Transitions
button{
    transition: transform 0.2s;
}
button:hover,
:focus{
    transform: scale(1.1);
}

// Home Page Transitions
nav{
    label{
        transition: transform 0.2s;
    }
    label:active {
        transform: scale(0.8);
    }
}
.galleryPic{
   transition: transform 0.7s ease-in-out;
}
.galleryPic:hover{
    transform: scale(1.1);
    border-radius: 10%;
}

.yellow{
    img{
        transition: transform 0.4s;
    }
    img:hover{
        transform: scale(1.2);
    }
}

.lemonItems{
    img{
        transition: transform 1s;
    }
    img:hover,
    :focus{
        transform: scale(1.1) rotateY(180deg);
    }
}

.icon{
    i{
        transition: transform 1s;
    }
    i:hover{
        transform: rotate(360deg);
    }
}

// Blog Page Transitions
.willowFlexChild1{
    img{
        transition: transform 0.7s ;
    }
    img:hover {
        transform: scale(1.2);
    }
}

.blogTextFlexChild2 {
   img {
       transition: transform 0.8s;
   }
   img:hover {
       transform: scale(2);
   }
}
