.wrapper{
    max-width: 1200px ;
    width: 100%;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

button{
    margin: 0;
    padding: 5px 15px;
    color: $quinary;
    background-color: $tertiary;
    border: 1px solid $tertiary;
}

.willowButtons{
    button:hover, :focus{
    border: 1px solid $primary;
    background-color: $primary;
    color: $tertiary;
}  
} 

form{
   .formButton:hover, :focus{
    border: 2px solid black;
    } 
    input[type="text"],
    input[type="email"],
    .textAreaColor{
        color: black;
    }
}

.formButton:active {
    background-color: $primary;
    color: $tertiary;
    }

.homeIcon{
    background-color: $tertiary;
    border: 1px solid $tertiary;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
}

footer p{
    color: $solidWhite;
}

