@media (max-width: 1100px){
    .contactMain{
        height: 100vh;
    }

    .contactContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactDetails{
        width: 70%;
        height: 40%;
        padding: 10px 10px;
        margin: 0px 0px 15px 0px;
        .address{
            height: 100%;
            line-height: 40px;                        
        }
    }  
}  
 
@media (max-width: 720px){
    .contactHeader{
        height: 30vh;
        h1{
            font-size: 3rem;
            margin-left: 5px;
        }
    }


    .contactContainer {
        .contactDetails {
            width: 90%; 
            height: 35%;
        }
    }

    .contactPageForm {
        width: 100%;
        .formInput {
            flex-direction: column;    
            .name,
            .email {
                width: 100%;
                margin-right: 0;
            }
        }
    }
    
}

@media (max-width: 360px) {
    .contactHeader {
        .headerText {
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 2rem;
                margin: 0;
            }
        }
    }

}