footer{
    border: 1px solid $quinary;
    background-color:$quinary;
    text-align: center;
    a{
        color: inherit;
        &:hover,
        &:focus{
            color: $tertiary;
        }
    }
}

