// HOME Header Styles
.homeHeader{
    background-color: $primary;
    height: 70vh;
    .headerContainer{
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        position: relative;
        .headerPosition{
            height: fit-content;
            position: relative;
            align-self: center;
            align-self: center;
                img{
                    position: absolute;
                    bottom: -40px;
                    left: -40px;
                }
        }
        .headerImage{
            max-width: 100%;
            .headerBox{
                position: absolute;
                top:40px;
                right: 20px;
                height: 100%;
                box-shadow: 10px 10px 0 $solidWhite;
            }
        }
    }
}









// BLOG Header Styles
.blogHeader{
    background-image: url(../assets/blog-image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.headerText{
    height: 100%;
    display: flex;
    align-items: flex-end;
    h1{
        margin-bottom: -15px;
    }
}

// CONTACT Header Styles

.contactHeader{
    background-image: url(../assets/contact-image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}