// first section
.whosWillow{
    background-color: $secondary;
    height: 70vh;
    .wrapper{
        height: 100%;
    }
    .whosWillowContainer{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

// second section

.infoSection{
    background-color: $solidWhite;
}
.homeFirstGallery{
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    li{
        width: calc(100% / 2);
    }
    .bridge{
        background-color: $quaternary;
        box-shadow: 12px 10px 0px $quaternary, -110px 10px 0px $quaternary,
    }
    .lily{
        background-color: $primary;
        box-shadow: 12px 10px 0px $primary, 110px 10px 0px $primary,
    }

    .sectionText1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hello{
        width: 80%;
    }
    .textAlign{
        text-align: right;
    }
}

// Third Section
.willowJourney{
    height: 70vh;
    display: flex;
    align-items: center;
    background-color: $secondary;
    .willowJourneyContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .journeyText{
            width: 65%;
            .textItems{
                height: 100%;
            }
        }
        .yellow{
            height: 100%;
            width: 25%;
            box-shadow: 10px 10px 0 $quaternary;
            img{
                width: 100%;
                object-fit: cover;
            }     
        }
    }
}

// ASIDE Section Styles
aside{
    img{
        width: 100vw;
    }
}

//FOURTH Section Styles

.lemons{
    background-color: $solidWhite;
    .lemonFlex{
        display: flex;
        .lemonItems{
            margin: 20px;
        }
    }
}

// FIFTH Section Styles

.infoIconSection{
    height: 80vh;
    background-color: $secondary;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    li{
        width: calc((100% / 2) - 40px);
        margin: 20px;
    }
    .icon{
        position: relative;
    }
    i{
        position: absolute;
        left: -60px;
        bottom: -6px;
    }
}