@media (max-width: 1100px){
// Header Queries
    .headerContainer{
        flex-direction: column;
        justify-content: center;
        .headerPosition{
            margin-top: 90px;
        }
        .headerImage{
            position: unset;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            height:75%;
            width: 65%;
            img{
                position: unset;
                height: 90%;
                width: 45%;        
            }
        }
    }
    // END Home Header Queries

    // Home First Gallery Queries
    .homeFirstGallery{
        flex-direction: column;
        li{
            width: 100%;
            margin-bottom: 20px;
        }
        .textAlign{
            order: 1;
        }
        .lily{
            box-shadow: 15px 10px 0px $primary, -110px 10px 0px $primary;
            img{
            margin-left: auto;
            } 
        }
    }

    // Willows Journey Section Queries
    .willowJourney{
        height: 95vh;
    }
    
    .willowJourneyContainer{
        flex-direction: column;
        align-items: center;
        .journeyText{
            width: 100%;
            .textItems{
                width: 100%;
            }
        }
        .yellow{
            margin-bottom: 20px;
        }
    }
    .journeyText{
        margin-top: 15px;
    }
    
    // Last Section Media Queries
    .infoIconSection{
        height: 100%;
        ul{
            flex-direction: column;
            li{
                width: 80%;
            }
        }
    }
}

@media (max-width: 720px){    
// Nav Media Queries for ALL PAGES
    nav{
        .showMe{
            visibility: visible;
        }
        input{
            position: absolute;
            right: 0;
        }
          .navBar{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
        input[type="checkbox"]:checked~.slideOut {
            right: 0;
            z-index: 4;
        }

        label[for="toggle"]{
            position: fixed;
            color: $tertiary;
            top: 10px;
            right: 15px;
            z-index: 5;
            font-size: 2rem;
        }
       
        .slideOut {
            position: fixed;
            width: 100%;
            right: -110%;
            background-color: $primary;
            opacity: 0.95;
            height: 100vh;
            transition: 0.6s;   
        }
        .slideOut li{
            width: 100%;       
        }
        .slideOut a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            font-size: 1.3rem;
        }
    }

    // Header
    .headerPosition{
        z-index: 6;
        .musings{
            left:-29px;
        }
        h1{
            font-size: 3rem;
        }
    }
    .headerContainer{
        .headerImage {
            height: 74%;
            width: 60%;
            .headerBox {
                height: 85%;
                width: 75%;
            }
        } 
    }
    // first section queries
    .whosWillow{
        height: 100vh;
    }

    // Willows Journey Section Queries
    .willowJourney {
        height: 108vh;
    }
    //Second Gallery Section Queries
    .lemonFlex {
        flex-direction: column;
        align-items: center;
        li{
            width: 70%;
        }
    }
        
    .iconList{
        li {
            width: 65%;
            .homeIcon{
                padding: 10px;
                left: -50px;  
            }
        }   
    }     
}

@media (max-width: 376px){
    // nav slide out Queries for ALL pages
    nav{
         input[type="checkbox"]:checked~.slideOut {
            width: 100vw;
        }
        .slideOut li:first-child{
            margin-top: 90px;
        }
    }
    // Header Queries
    .headerContainer {   
        h1{
            font-size: 2.8rem;
        }
        .headerImage {
            width: 95%;
        }
    }
    // Whos Willow Section Queries
    .whosWillow{
        height: 120vh;
        padding-top: 50px;
    }
    
    // Willow Journey Queries
    .willowJourneyContainer{
        text-align: center;
        display: flex;
        .yellow{
            img{
                display: none;
            }
        }
    }
}