@media (max-width: 1100px){
// Header Queries

    .homeHeader{
        .headerContainer{
            flex-direction: column;
            justify-content: center;
            .headerPosition{
                margin-top: 40px;
            }
            .headerImage{
                position: unset;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                height: 70%;
                width: 50%;
                .headerBox{
                    position: unset;
                    height: 80%;
                    
                }
            }
        }
    }

    // First section styles
    .whosWillow{
        height: 80vh;
    }
    
    // Home First Gallery Queries
    .homeFirstGallery{
        flex-direction: column;
        li{
            width: 100%;
            margin-bottom: 20px;
        }
        .textAlign{
            order: 1;
        }
        .lily{
            box-shadow: 12px 10px 0px $primary, -110px 10px 0px $primary;
            img{
               margin-left: auto;
            } 
        }
    }

    // Willows Journey Section Queries
    .willowJourney{
        height: 100vh;
    }

    .willowJourneyContainer{
        flex-direction: column;
        align-items: center;
        .journeyText{
            width: 100%;
            .textItems{
                width: 100%;
            }
        }
        .yellow{
            margin-bottom: 20px;
        }
    }

    // Last Section Media Queries
    .infoIconSection{
        height: 100%;
        ul{
            flex-direction: column;
            li{
                width: 80%;
            }
        }
    }
}

@media (max-width: 720px){
    // Nav Media Queries
    nav{
        .navBar{
            flex-direction: column;
        }
    }
    //Second Gallery Section Queries
    .lemonFlex {
        flex-direction: column;
        align-items: center;
        li{
            width: 70%;
        }
    }
    .infoIconSection{
        ul{
            li {
                width: 65%;
                .homeIcon{
                    padding: 10px;
                    left: -50px;  
                }
            }   
        }
    }           
}

@media (max-width: 360px){
    .willowJourney{
        .willowJourneyContainer{
            .yellow{
                img{
                    display: none;
                }
            }
        }
    }
}