nav{
    background-color: $primary;
    .navBar{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin:15px;
        }
    }
    a:hover,
    :focus {
        color: $tertiary;
    }

    
    
    
    
}
input[type=checkbox] {
    // opacity: 0;
    // position: absolute;
    &:focus+label {
        border: 1px dotted $primary !important;
        color: purple !important;
    }
}