nav{
    background-color: $primary;
    .navBar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 10px;
        li{
            margin:15px;
        }
    }
    a:hover,
    :focus {
        color: $tertiary;
    }

}
input[type=checkbox] {
    opacity: 0;
    &:focus+label {
        border: 1px dotted $primary;
        color: purple;
    }
}

.showMe{
    visibility: hidden;
}