nav{
    background-color: $primary;
    .navBar{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin:15px;
        }
    }
    a:hover,
    :focus {
        color: $tertiary;
    }
}

