// FONT Family
    $headingFont: 'Abril Fatface', cursive;
    $bodyFont: 'Montserrat', sans-serif;

// COLOURS
    $primary:#345231;
    $secondary:#f6f6f6;
    $tertiary:#e4a436; 
    $quaternary:#709b6b;  
    $quinary: #1f1f1f;
    $solidWhite: #fff;

